.col-sm-12{
    text-align:center;
}

.white-box{
    margin: 50 0 0 0;
    padding: 50px;
}
.white-background{
    background-color: white;
}
.smallbox{
    height: 150px;
    width: 150px;
}
.grass{
    background-repeat: no-repeat;
}
body{
    background-color: #90EE90;
}
a-scene {
    height: 300px;
    width: 600px;
}
.smallimage{
    height: 150px;
    width: 200px;
}
.imagess{
    height: 200px;
    width: 300px;
    background-color: white;
    margin: 20px 500px;
}
