.col-sm-12{
    text-align:center;
}

.white-box{
    margin: 50 0 0 0;
    padding: 50px;
}
.white-background{
    background-color: white;
}
.smallbox{
    height: 150px;
    width: 150px;
    background-color: white;
}
.grass{
    background-repeat: no-repeat;
}
body{
    background-color: #90EE90;
}
a-scene {
    height: 300px;
    width: 600px;
}
.smallimage{
    height: 150px;
    width: 200px;
}
.imagess{
    height: 200px;
    width: 300px;
    background-color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-width: 2px;
    border-style: solid;
}
.Aframe{
    height: 400px;
    width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#aframe{
  align: center;
  height: 300px;
  width: 600px;
}
.ideas{
    height: 300px;
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.white-textbox{
    background-color: white;
    padding: 30 5 5 10px;
    border-radius: 10px;
}

.mango(
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
)

*{
    font-family: "Sedan+SC&display=swap", san-sherif;
}
